html,body{
    background-color: aqua;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    
    justify-content: center;
    align-items: center;
    display: flex;

    
}
#box{
    height: 50%;
    width: 50%;
    background-color: antiquewhite;   

}